@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Arial, sans-serif;
  color: rgb(231, 233, 234);
  background-color: #000000;
  
}


button {
  border-radius: 9999px;
  border: 1px solid transparent;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  outline-style: none;
  width: 300px;
  height: 38px;
  margin-bottom: 8px;
  padding: 0 15px;
  display: flex;
  font-weight: 700;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.MuiTabs-flexContainer{
flex-direction: row;
justify-content: space-around;

} 

.Mui-selected {
  color: white !important;
}


.MuiBox-root{
  padding: 0;
}

.custom-scroll {
  overflow-x: hidden; 
  scrollbar-width: none;
}



